In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Level 4: Grouping & Analysis

# 16. Group students by Age and calculate average marks.
# 17. Find the student with highest marks.
# 18. Count how many students passed.
# 19. Apply a custom function to increase marks by 5%.
# 20. Create a summary using describe() and explain what it shows.

## 16 group students by Age and calculate Average marks

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['John Doe', 'Jane Smith', 'Mike Johnson', 'Emily Brown', 'David Wilson','Sanjeev Khadka','Sulav Khadka','sanjay kumar '],
    'Age': [20, 21, 22, 23, 24,20,21,22],
    'Marks': [85, 92, 78, 90, 88,99,80,70]
}

df = pd.DataFrame(data)

result = df.groupby("Age")["Marks"].mean()
print(result)

Age
20    92.0
21    86.0
22    74.0
23    90.0
24    88.0
Name: Marks, dtype: float64

## 17 Find the student with highest marks.

In [14]:
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['John Doe', 'Jane Smith', 'Mike Johnson', 'Emily Brown', 'David Wilson','Sanjeev Khadka','Sulav Khadka','sanjay kumar '],
    'Age': [20, 21, 22, 23, 24,20,21,22],
    'Marks': [85, 92, 78, 90, 88,99,80,70]
}

df2 = pd.DataFrame(data)


highest_marks = df2["Marks"].max()
print(highest_marks)

result  = df2[df2["Marks"] == highest_marks]["Name"]
print(result)

99
5    Sanjeev Khadka
Name: Name, dtype: object

## 18. Count how many students passed.

In [18]:
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['John Doe', 'Jane Smith', 'Mike Johnson', 'Emily Brown', 'David Wilson','Sanjeev Khadka','Sulav Khadka','sanjay kumar '],
    'Age': [20, 21, 22, 23, 24,20,21,22],
    'Marks': [40, 92, 78, 90, 88,99,80,70]
}

df3 = pd.DataFrame(data)
print(df3)

result = df3[df3["Marks"] >= 50]
print("Number of Students passed is " , len(result))

   Student_ID            Name  Age  Marks
0           1        John Doe   20     40
1           2      Jane Smith   21     92
2           3    Mike Johnson   22     78
3           4     Emily Brown   23     90
4           5    David Wilson   24     88
5           6  Sanjeev Khadka   20     99
6           7    Sulav Khadka   21     80
7           8   sanjay kumar    22     70
Number of Students passed is  7

## 19 Apply a custom function to increase marks by 5%.

In [22]:
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['John Doe', 'Jane Smith', 'Mike Johnson', 'Emily Brown', 'David Wilson','Sanjeev Khadka','Sulav Khadka','sanjay kumar '],
    'Age': [20, 21, 22, 23, 24,20,21,22],
    'Marks': [40, 92, 78, 90, 88,99,80,70]
}

df4 = pd.DataFrame(data)
print(df4)


df4["Marks"] = df4["Marks"].apply(lambda mark : (5/100) * mark + mark )
print(df4)

   Student_ID            Name  Age  Marks
0           1        John Doe   20     40
1           2      Jane Smith   21     92
2           3    Mike Johnson   22     78
3           4     Emily Brown   23     90
4           5    David Wilson   24     88
5           6  Sanjeev Khadka   20     99
6           7    Sulav Khadka   21     80
7           8   sanjay kumar    22     70
   Student_ID            Name  Age   Marks
0           1        John Doe   20   42.00
1           2      Jane Smith   21   96.60
2           3    Mike Johnson   22   81.90
3           4     Emily Brown   23   94.50
4           5    David Wilson   24   92.40
5           6  Sanjeev Khadka   20  103.95
6           7    Sulav Khadka   21   84.00
7           8   sanjay kumar    22   73.50

## 20 Create a summary using describe() and explain what it shows.

In [24]:
data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['John Doe', 'Jane Smith', 'Mike Johnson', 'Emily Brown', 'David Wilson','Sanjeev Khadka','Sulav Khadka','sanjay kumar '],
    'Age': [20, 21, 22, 23, 24,20,21,22],
    'Marks': [40, 92, 78, 90, 88,99,80,70]
}

df5  = pd.DataFrame(data)
print(df5.describe())

       Student_ID        Age      Marks
count     8.00000   8.000000   8.000000
mean      4.50000  21.625000  79.625000
std       2.44949   1.407886  18.407588
min       1.00000  20.000000  40.000000
25%       2.75000  20.750000  76.000000
50%       4.50000  21.500000  84.000000
75%       6.25000  22.250000  90.500000
max       8.00000  24.000000  99.000000