In [21]:
import numpy as np
import pandas as pd

In [22]:
# Level 2: Data Selection & Filtering
# 6 Select only the Name and Marks columns.
# 7 Filter students whose Marks > 80.
# 8 Filter rows where Age is between 18 and 22.
# 9 Sort the DataFrame by Marks (descending).
# 10 Add a new column “Passed” where Marks ≥ 40.

## 6 Select only the Name and Marks columns.

In [23]:
dict = {
    "Name":["Sanjeev","Deepa","Samir","Sulav","Jaidev"],
    "Age":[10,20,30,40,90],
    "Marks":[90,80,70,95,10]
}
df1 = pd.DataFrame(dict)
print(df1)
print()
print(df1["Name"])
print(df1["Marks"])

      Name  Age  Marks
0  Sanjeev   10     90
1    Deepa   20     80
2    Samir   30     70
3    Sulav   40     95
4   Jaidev   90     10

0    Sanjeev
1      Deepa
2      Samir
3      Sulav
4     Jaidev
Name: Name, dtype: object
0    90
1    80
2    70
3    95
4    10
Name: Marks, dtype: int64

## 7 Filter students whose Marks > 80.

In [24]:
filtered_students = df1[df1["Marks"] > 80]
print(filtered_students)

      Name  Age  Marks
0  Sanjeev   10     90
3    Sulav   40     95

## 8 Filter rows where Age is between 18 and 22

In [25]:

filtered_students = df1[(df1["Age"] > 18 ) & (df1["Age"] < 22 )]
print(filtered_students)

    Name  Age  Marks
1  Deepa   20     80

## 9 Sort the DataFrame by Marks (descending).

In [26]:
print(df1.sort_values('Marks',ascending=False))

      Name  Age  Marks
3    Sulav   40     95
0  Sanjeev   10     90
1    Deepa   20     80
2    Samir   30     70
4   Jaidev   90     10

## 10 Add a new column “Passed” where Marks ≥ 40.

In [ ]:
# df1["passed"] = df1[df1["Marks"] >= 40]
# print(df1)
df1["passed"]  = df1[df1["Marks"] >= 40]["Name"]
print(df1)

      Name  Age  Marks   passed
0  Sanjeev   10     90  Sanjeev
1    Deepa   20     80    Deepa
2    Samir   30     70    Samir
3    Sulav   40     95    Sulav
4   Jaidev   90     10      NaN

: