In [3]:
import numpy as np
import pandas as pd

In [11]:
# Level 1: DataFrame Basics

# 1 Create a DataFrame using a dictionary:
# Name, Age, Marks

# 2 Display:
# First 3 rows
# Last 2 rows

# 3 Show column names and data types.

# 4 Rename a column.

# 5 Set one column as index.

##  1 Create a DataFrame using a dictionary:

In [ ]:
# Name, Age,Marks

dict = {
    "name": "sanjeev khadka",
    "cls": "12",
    "Age": "18",
}

# df = pd.DataFrame(dict)
# print(df)

#! Note , It Gives This error  =>
# * Summary: Pandas DataFrame Scalar Error
# Error You Got
# ValueError: If using all scalar values, you must pass an index

# Cause

# When creating a DataFrame from a dictionary:

# All values are scalars (single values) → Pandas doesn’t know how many rows to create.
# ~ Pandas requires either lists/arrays to define multiple rows or an index to define the number of rows.


#! What is meant By Scalar ?
# => A scalar is simply a single value, not a list, array, or collection of values.
# In programming and math:
# Scalar = one single value
# Vector / Array / List = multiple values

In [18]:
# Solutions For that 

# 1 solution Wrap scalars in lists
df1 = pd.DataFrame({
    "name":["sanjeev khadka "],
    "cls" : ["12"],
    "Age":["18"]
})
print(" \n ")
print(df1)


# 2 solution Provide an explicit index 
df2 = pd.DataFrame({
    "name": "sanjeev khadka",
    "cls": "12",
    "Age": "18"
}, index=[0])
print(" \n ")
print(df2)

# 3 Use lists to define multiple rows
df3 = pd.DataFrame({
    "name": ["sanjeev", "ram", "hari", "sita"],
    "cls": ["12", "12", "12", "12"],
    "Age": [18, 19, 18, 20],
    "marks": [10, 20, 30, 40]
})
print(" \n ")
print(df3)

              name cls Age
0  sanjeev khadka   12  18


             name cls Age
0  sanjeev khadka  12  18


      name cls  Age  marks
0  sanjeev  12   18     10
1      ram  12   19     20
2     hari  12   18     30
3     sita  12   20     40

## 2 Display : 
1. First 3 Rows 
2. Last 2 Rows

In [23]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, 30, 35, 28],
    "Gender": ["F", "M", "M", "F"],
    "Marks": [88, 92, 79, 85],
}

data_frame = pd.DataFrame(data)

print(data_frame)
print(type(data_frame))


print(data_frame.head(3))
print(data_frame.tail(2))

      Name  Age Gender  Marks
0    Alice   25      F     88
1      Bob   30      M     92
2  Charlie   35      M     79
3    Diana   28      F     85
<class 'pandas.core.frame.DataFrame'>
      Name  Age Gender  Marks
0    Alice   25      F     88
1      Bob   30      M     92
2  Charlie   35      M     79
      Name  Age Gender  Marks
2  Charlie   35      M     79
3    Diana   28      F     85

## 3 Show column names and data types.

In [30]:
print(data_frame.columns)
print(data_frame.dtypes)

Index(['Name', 'Age', 'Gender', 'Marks'], dtype='object')
Name      object
Age        int64
Gender    object
Marks      int64
dtype: object

## 4 Rename a column.

In [32]:
result = data_frame.rename(columns={'Name':'NewChanged_Name'})
print(result)

  NewChanged_Name  Age Gender  Marks
0           Alice   25      F     88
1             Bob   30      M     92
2         Charlie   35      M     79
3           Diana   28      F     85

## 5 Set one column as index.

In [33]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# setting column to 'A' as the index 

df_set_index = df.set_index('A')
print(df_set_index)

   B
A
1  4
2  5
3  6

In [ ]:
# Creating a sample DataFrame with duplicate values in the column 'A'
df = pd.DataFrame({'A': [1, 2, 2, 3, 3, 3], 'B': [4, 5, 6, 7, 8, 9]})

# Set column 'A' as the index
df_set_index = df.set_index('A')

print(df_set_index)

   B
A
1  4
2  5
2  6
3  7
3  8
3  9

: